
  <footer class="text-center text-lg-start bg-light text-muted ">


    <section class="footer ">
      <div class="container text-center text-md-start mt-5 pt-1">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Matematik Mühendisliğinde Tasarım Uygulamaları
            </h6>
            <p>
              Bu proje bir Getir klonudur.
              Matematik Mühendisliğinde Tasarım Uygulamaları dersine proje olarak Fatma Nur Karaman ve İbrahim Çakmak tarafından yapılmıştır.
              Proje dersini aldığımız Prof. Dr. Muhammet Kurulay hocamıza teşekkür ederiz.
            </p>
          </div>

          <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              İbrahim Çakmak
            </h6>
            <p><i class="fas fa-home me-3"></i>Kayaşehir, Başakşehir / İstanbul</p>
            <p>
              <i class="fas fa-envelope me-3"></i>ibrahimcakmak@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>0507 738 20 83</p>
          </div>

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Fatma Nur Karaman
            </h6>
            <p><i class="fas fa-home me-3"></i>Davutpaşa, Esenler / İstanbul</p>
            <p>
              <i class="fas fa-envelope me-3"></i>fatmanur.karaman@outlook.com
            </p>
            <p><i class="fas fa-phone me-3"></i>0539 221 96 75</p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Prof. Dr. Muhammet Kurulay</h6>
            <p><i class="fas fa-home me-3"></i>Davutpaşa, Esenler / İstanbul</p>
            <p>
              <i class="fas fa-envelope me-3"></i>mkurulay@yildiz.edu.tr
            </p>
            <p><i class="fas fa-phone me-3"></i>+90 212 383 4598</p>
            <p><i class="fas fa-fax me-3"></i>+90 212 383 4590</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold">Yıldız Teknik Üniversitesi</a>
    </div>
  </footer>
